<!DOCTYPE html>
<html lang="en">
<head>
	
    <meta charset="UTF-8">
    <title>Search box v.2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet" charset="utf-8">

</head>
<body>
    <!--	<a class="header_login fr" href="#" color="#fff"><span>LOG IN</span></a>-->

    {% if request.session.is_login %}
    <div class="log_out"><strong><a href="/logout/">LOGOUT</a></strong></div>
    <div class="title"><strong>Welcome, {{ request.session.user_name }}</strong></div>
    {% else %}
    <div class="log_in"><strong><a href="/login/">LOGIN</a></strong></div>
    <div class="title"><strong>Welcome</strong></div>
    {% endif %}

    {% csrf_token %}
    <div class="search-box">
        <form action="/index/result/" method="POST">
            <input id="input1" class="search-input" type="text" name="user_input" onkeydown="EnterPress()" placeholder=" " />
            <span></span>
            <button hidden id="bt1" type="submit">bt1</button>
        </form>
    </div>
    <!-- <a id="autoclick" href="/index/result/"></a> -->
    
    <div class="recommand_content" >
        {% for movie in recommand_list %}
        <a href="{% url 'result_detail' pk=movie.id %}" class="recommand_container">
            <div class="RM">
                {% if movie.poster %}
                <img src="{{ movie.poster }}" width="150" height="200" >
                {% else %}
                <img src="{% static 'images/not_found.jpg' %}" width="150" height="200">
                {% endif %}
                {{ movie.title }}
            </div>
        </a>
        {% endfor %}
    </div>

    <script src="{% static 'scripts/index.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
